<!-- _includes/event-infobox.html -->
<section class="tsapdata" vocab="https://schema.org/" typeof="Event">

  <h2 class="tsapdata-title" property="name">{{ page.title }}</h2>

  {% if page.event_type %}
  <dl class="tsapdata-statements">
    <div class="tsapdata-row">
      <dt class="tsapdata-prop" title="P31">Instance of</dt>
      <dd class="tsapdata-val" property="additionalType">{{ page.event_type }}</dd>
    </div>
  {% endif %}

  {% if page.date %}
    <div class="tsapdata-row">
      <dt class="tsapdata-prop" title="P585">Date</dt>
      <dd class="tsapdata-val" property="startDate">{{ page.date | date: "%-d %B %Y" }}</dd>
    </div>
  {% endif %}

  {% if page.location %}
    <div class="tsapdata-row">
      <dt class="tsapdata-prop" title="P276">Location</dt>
      <dd class="tsapdata-val" property="location">{{ page.location }}</dd>
    </div>
  {% endif %}

  {% if page.sunils_role %}
    <div class="tsapdata-row">
      <dt class="tsapdata-prop" title="P3342">Role</dt>
      <dd class="tsapdata-val">
        {% for role in page.sunils_role %}{{ role }}{% unless forloop.last %}; {% endunless %}{% endfor %}
      </dd>
    </div>
  {% endif %}

  {% if page.organisers %}
    <div class="tsapdata-row">
      <dt class="tsapdata-prop" title="P664">Organiser</dt>
      <dd class="tsapdata-val" property="organizer">
        {% for org in page.organisers %}{{ org }}{% unless forloop.last %}; {% endunless %}{% endfor %}
      </dd>
    </div>
  {% endif %}

  {% if page.speakers %}
    <div class="tsapdata-row">
      <dt class="tsapdata-prop" title="P823">Speaker</dt>
      <dd class="tsapdata-val" property="performer">
        {% for speaker in page.speakers %}{{ speaker }}{% unless forloop.last %}; {% endunless %}{% endfor %}
      </dd>
    </div>
  {% endif %}

  </dl>
</section>
