<nav class="navbox-elonnai" aria-label="Navigation template for Elonnai Hickok's works">
  <div class="navbox-elonnai__inner">

    <div class="navbox-elonnai__title">
      <a href="/elonnai/">Elonnai Hickok</a>
      <span class="navbox-elonnai__viewlink">[<a href="/elonnai/template/"
          aria-label="View Elonnai Hickok template">View</a>]</span>
    </div>

    <div class="navbox-elonnai__body">

      <div class="navbox-elonnai__row">
        <span class="navbox-elonnai__label">Publications</span>

        <span class="navbox-elonnai__items">
          <a href="/elonnai/epw-web-exclusives-oct-27-2012-elonnai-hickok-rethinking-dna-profiling-india/">
            Rethinking DNA Profiling in India
          </a>
          (27 October 2012)
          &middot;
          <a href="/publications/government-access-to-private-sector-data-in-india/">
            Government Access to Private-Sector Data in India
          </a>
          (December 2012)
          &middot;
          <a href="/elonnai/disproportionate-state-surveillance-a-violation-of-privacy/">
            Surveillance Camp IV: Disproportionate State Surveillance — A Violation of Privacy
          </a>
          (13 February 2013)
          &middot;
          <a href="/elonnai/yahoo-october-23-2013-what-india-can-learn-from-snowden-revelations/">
            What India Can Learn from the Snowden Revelations
          </a>
          (23 October 2013)
          &middot;
          <a href="/publications/security-privacy-transparency-and-technology/">
            Security: Privacy, Transparency and Technology
          </a>
          (October 2015)
          &middot;
          <a href="/publications/big-data-in-governance-india/">
            Big Data in Governance in India: Case Studies
          </a>
          (May 2016)
          &middot;
          <a href="/publications/niti-aayog-discussion-paper-ai-policy/">
            NITI Aayog Discussion Paper: An Aspirational Step Towards India's AI Policy
          </a>
          (June 2018)
        </span>
      </div>

      <div class="navbox-elonnai__row">
        <span class="navbox-elonnai__label">CIS Blog Posts</span>

        <span class="navbox-elonnai__items">
          <a href="/elonnai/privacy-concerns-in-whole-body-imaging-a-few-questions/">
            Privacy Concerns in Whole Body Imaging: A Few Questions
          </a>
          (17 November 2010)
          &middot;
          <a href="/elonnai/privacy-free-open-source-and-the-cloud/">
            Privacy, Free/Open Source, and the Cloud
          </a>
          (22 November 2010)
          &middot;
          <a href="/elonnai/american-bar-association-online-privacy-conference-a-report/">
            American Bar Association Online Privacy Conference: A Report
          </a>
          (22 November 2010)
          &middot;
          <a href="/elonnai/cis-responds-to-privacy-approach-paper/">
            CIS Responds to Privacy Approach Paper
          </a>
          (22 November 2010)
          &middot;
          <a href="/elonnai/consumer-privacy-how-to-enforce-an-effective-protective-regime/">
            Consumer Privacy — How to Enforce an Effective Protective Regime?
          </a>
          (22 November 2010)
          &middot;
          <a href="/elonnai/privacy-and-banking-do-indian-banking-standards-provide-enough-privacy-protection/">
            Privacy and Banking: Do Indian Banking Standards Provide Enough Privacy Protection?
          </a>
          (22 November 2010)
          &middot;
          <a href="/elonnai/privacy-and-telecommunications-do-we-have-the-safeguards/">
            Privacy and Telecommunications: Do We Have the Safeguards?
          </a>
          (22 November 2010)
          &middot;
          <a href="/elonnai/public-statement-to-final-draft-of-uid-bill/">
            Public Statement to Final Draft of UID Bill
          </a>
          (7 December 2010)
          &middot;
          <a href="/elonnai/dsci-information-security-summit-2010-a-report/">
            DSCI Information Security Summit 2010 – A Report
          </a>
          (7 December 2010)
          &middot;
          <a href="/elonnai/should-ratan-tata-be-afforded-the-right-to-privacy/">
            Should Ratan Tata Be Afforded the Right to Privacy?
          </a>
          (8 December 2010)
          &middot;
          <a href="/elonnai/the-privacy-rights-of-whistleblowers/">
            The Privacy Rights of Whistleblowers
          </a>
          (20 December 2010)
          &middot;
          <a href="/elonnai/does-the-uid-reflect-india/">
            Does the UID Reflect India?
          </a>
          (27 December 2010)
          &middot;
          <a href="/elonnai/an-open-letter-to-the-finance-committee-scosta-standards/">
            An Open Letter to the Finance Committee: SCOSTA Standards
          </a>
          (6 January 2011)
          &middot;
          <a href="/elonnai/privacy-and-governmental-databases/">
            Privacy and Governmental Databases
          </a>
          (23 March 2011)
          &middot;
          <a href="/elonnai/a-stolen-perspective/">
            A Stolen Perspective
          </a>
          (31 March 2011)
          &middot;
          <a href="/elonnai/encryption-standards-and-practices/">
            Encryption Standards and Practices
          </a>
          (5 April 2011)
          &middot;
          <a href="/elonnai/surveillance-technologies/">
            Surveillance Technologies
          </a>
          (5 April 2011)
          &middot;
          <a href="/elonnai/is-data-protection-enough/">
            Is Data Protection Enough?
          </a>
          (5 April 2011)
          &middot;
          <a href="/elonnai/an-interview-with-activist-shubha-chacko-privacy-and-sex-workers/">
            An Interview with Activist Shubha Chacko: Privacy and Sex Workers
          </a>
          (25 April 2011)
          &middot;
          <a href="/elonnai/dna-profiling-bill/">
            The DNA Profiling Bill 2007 and Privacy
          </a>
          (25 April 2011)
          &middot;
          <a href="/elonnai/bloggers-rights-subordinated-to-rights-of-expression/">
            Bloggers' Rights Subordinated to Rights of Expression: Cyber Law Expert
          </a>
          (3 June 2011)
          &middot;
          <a href="/elonnai/right-to-privacy-bill-2010-a-few-comments/">
            Right to Privacy Bill 2010 — A Few Comments
          </a>
          (20 July 2011)
          &middot;
          <a href="/elonnai/understanding-the-right-to-information/">
            Understanding the Right to Information
          </a>
          (28 September 2011)
          &middot;
          <a href="/elonnai/scosta-uid-comparison-invalid">
            SCOSTA and UID Comparison Not Valid, Says Finance Committee
          </a>
          (14 October 2011)
          &middot;
          <a href="/elonnai/interview-with-anne-cavoukian/">
            An Interview with Dr. Ann Cavoukian, Information and Privacy Commissioner, Ontario, Canada
          </a>
          (2 December 2011)
          &middot;
          <a href="/elonnai/public-meeting-on-dna-profiling-bill/">
            A Public Meeting on DNA Profiling Bill in Delhi
          </a>
          (29 September 2012)
          &middot;
          <a href="/elonnai/privacy-perspectives-on-the-2012-2013-goa-beach-shack-policy/">
            Privacy Perspectives on the 2012–2013 Goa Beach Shack Policy
          </a>
          (25 October 2012)
          &middot;
          <a href="/elonnai/question-and-answer-to-report-of-group-of-experts-on-privacy/">
            Q&A to the Report of the Group of Experts on Privacy
          </a>
          (9 November 2012)
          &middot;
          <a href="/elonnai/internet-driven-developments/">
            Internet-driven Developments — Structural Changes and Tipping Points
          </a>
          (28 December 2012)
          &middot;
          <a href="/elonnai/state-surveillance-human-rights-camp-summary/">
            State Surveillance and Human Rights Camp: Summary
          </a>
          (31 December 2012)
          &middot;
          <a href="/elonnai/draft-intl-principles-on-communications-surveillance-and-human-rights/">
            Draft International Principles on Communications Surveillance and Human Rights
          </a>
          (16 January 2013)
          &middot;
          <a href="/elonnai/data-retention-in-india/">
            Data Retention in India
          </a>
          (30 January 2013)
          &middot;
          <a href="/elonnai/comparison-of-indian-legislation-and-draft-principles-on-surveillance-of-communications/">
            A Comparison of Indian Legislation to Draft International Principles on Surveillance of Communications
          </a>
          (31 January 2013)
          &middot;
          <a href="/elonnai/2012-privacy-highlights-in-india/">
            2012: Privacy Highlights in India
          </a>
          (12 February 2013)
          &middot;
          <a href="/elonnai/draft-human-dna-profiling-bill-april-2012/">
            Draft Human DNA Profiling Bill (April 2012): High Level Concerns
          </a>
          (12 March 2013)
          &middot;
          <a href="/elonnai/uid-and-npr-a-background-note/">
            Unique Identification Scheme (UID) &amp; National Population Register (NPR), and Governance
          </a>
          (14 March 2013)
          &middot;
          <a href="/elonnai/open-letter-to-not-recognize-india-as-data-secure-nation/">
            Open Letter to "Not" Recognize India as Data Secure Nation till Enactment of Privacy Legislation
          </a>
          (19 June 2013)
          &middot;
          <a href="/elonnai/more-than-hundred-global-groups-make-principled-stand-against-surveillance/">
            More than a Hundred Global Groups Make a Principled Stand against Surveillance
          </a>
          (31 July 2013)
          &middot;
          <a href="/elonnai/interview-with-suresh-ramasubramanian/">
            An Interview with Suresh Ramasubramanian
          </a>
          (6 September 2013)
          &middot;
          <a href="/elonnai/cis-and-international-coalition-calls-upon-governments-to-protect-privacy/">
            CIS and International Coalition Calls upon Governments to Protect Privacy
          </a>
          (25 September 2013)
          &middot;
          <a href="/elonnai/privacy-meeting-with-ftc-new-delhi/">
            A Privacy Meeting with the Federal Trade Commission in New Delhi
          </a>
          (30 September 2013)
          &middot;
          <a href="/elonnai/open-letter-members-european-parliament-civil-liberties-justice-home-affairs-committee/">
            Open Letter to Members of the European Parliament of the Civil Liberties, Justice and Home Affairs Committee
          </a>
          (23 October 2013)
          &middot;
          <a href="/elonnai/interview-with-jacob-kohnstamm/">
            An Interview with Jacob Kohnstamm, Dutch Data Protection Authority and Chairman of the Article 29 Working
            Party
          </a>
          (25 October 2013)
          &middot;
          <a href="/elonnai/report-of-seventh-privacy-round-table/">
            Seventh Privacy Round-table
          </a>
          (20 November 2013)
          &middot;
          <a href="/elonnai/cis-supports-the-un-resolution-on-the-right-to-privacy-in-the-digital-age/">
            CIS Supports the UN Resolution on "The Right to Privacy in the Digital Age"
          </a>
          (30 November 2013)
          &middot;
          <a href="/elonnai/internet-privacy-in-india/">
            Internet Privacy in India
          </a>
          (8 January 2014)
          &middot;
          <a href="/elonnai/gni-assessment-finds-ict-companies-protect-user-privacy-and-freedom-of-expression/">
            GNI Assessment Finds ICT Companies Protect User Privacy and Freedom of Expression
          </a>
          (20 January 2014)

        </span>
      </div>

    </div>

  </div>
</nav>

<style>
  .navbox-elonnai {
    border: 1px solid #d6dbe3;
    background: #f9fbff;
    border-radius: .5rem;
    margin: 2rem 0 1rem;
    font-size: .9rem;
    line-height: 1.5;
    transition: box-shadow .25s ease, transform .2s ease;
  }

  .navbox-elonnai:hover {
    box-shadow: 0 4px 14px rgba(0, 0, 0, .08);
    transform: translateY(-1px);
  }

  .navbox-elonnai__title {
    background: #eef4fb;
    border-top: 3px solid #3a7bd5;
    border-bottom: 1px solid #d6dbe3;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    padding: .5rem 2.2rem .5rem 1rem;
    position: relative;
  }

  .navbox-elonnai__viewlink {
    position: absolute;
    right: .6rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: .75rem;
    font-weight: 400;
    color: #555;
  }

  .navbox-elonnai a {
    color: #0645ad;
    text-decoration: none;
  }

  .navbox-elonnai a:hover {
    color: #3a7bd5;
    text-decoration: underline;
  }

  .navbox-elonnai a:visited {
    color: #0b0080;
  }

  .navbox-elonnai a:focus-visible {
    outline: 2px solid #3a7bd5;
    outline-offset: 2px;
  }

  .navbox-elonnai__body {
    padding: .75rem 1rem;
  }

  .navbox-elonnai__row {
    display: flex;
    gap: .5rem;
    align-items: baseline;
    padding: .4rem 0;
    border-bottom: 1px solid #e6e9ef;
  }

  .navbox-elonnai__row:last-child {
    border-bottom: none;
  }

  .navbox-elonnai__label {
    flex: 0 0 120px;
    font-weight: 600;
    color: #444;
    font-size: .875rem;
  }

  .navbox-elonnai__items {
    flex: 1;
  }

  @media (max-width:600px) {

    .navbox-elonnai__row {
      flex-direction: column;
      gap: .2rem;
    }

    .navbox-elonnai__label {
      flex: none;
      font-size: .8rem;
    }

  }

  @media (prefers-reduced-motion: reduce) {

    .navbox-elonnai {
      transition: none;
    }

  }

  /* Dark mode */

  body.tsap-dark-mode .navbox-elonnai {
    background: #243244;
    border-color: #374151;
    color: #e5e7eb;
  }

  body.tsap-dark-mode .navbox-elonnai:hover {
    box-shadow: 0 4px 14px rgba(0, 0, 0, .35);
  }

  body.tsap-dark-mode .navbox-elonnai__title {
    background: #1b2636;
    border-top-color: #60a5fa;
    border-bottom-color: #374151;
    color: #f3f4f6;
  }

  body.tsap-dark-mode .navbox-elonnai__viewlink {
    color: #cbd5e1;
  }

  body.tsap-dark-mode .navbox-elonnai a {
    color: #93c5fd;
  }

  body.tsap-dark-mode .navbox-elonnai a:hover {
    color: #bfdbfe;
  }

  body.tsap-dark-mode .navbox-elonnai a:visited {
    color: #c4b5fd;
  }

  body.tsap-dark-mode .navbox-elonnai a:focus-visible {
    outline-color: #93c5fd;
  }

  body.tsap-dark-mode .navbox-elonnai__row {
    border-bottom-color: #374151;
  }

  body.tsap-dark-mode .navbox-elonnai__label {
    color: #cbd5e1;
  }

  body.tsap-dark-mode .navbox-elonnai__items {
    color: #e5e7eb;
  }
</style>